/* React Css Reset */
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header Component */
.Header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 100px;
    padding-right: 50px;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.HeaderNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 600px) {
  .Header {
    flex-flow: column;
    align-items: flex-start;
    
  }
  
}

.SearchBox {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px 20px;
    width: 250px;
    text-align: left;
}

.SearchBox > input {
    border: none;
}

/* Banner Component */
.Banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 50px;
    gap: 20px;
}

.BannerContent {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
}
/* ArtisanRecom */
.ArtisanRecom {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* padding: 20px; */
  gap: 40px;
}

/* ArtisanCard */
.ArtisanCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    height: 400px;
    border: #464d55 1px solid;
    border-radius: 20px;
    border: #FFA500 2px solid;
}

.ArtisanBanner {
  height: 40%;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background: #464d55;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.ArtisanBanner > span {
  margin-right: 20px;
}

.ArtisanCardContent {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 60%;
  border-radius: 0 0 1rem 1rem;
  align-items: flex-start;
  justify-content: space-between;
}

.ArtisanCardContent > div {
  padding-left: 20px;
}
.StarRating {
  display: flex;
  align-self: flex-end;
  margin-right: 20px;
  padding-top: 0;
}

.ArtisanCardContent > .LinkButton {
  display: flex;
  align-self: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  padding: 0.5rem;
  font-family: poppins;
}

/* Footer */
.Footer {
  background-color: #FFA500;
  margin-top: 20px;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* Other CSS Styles */
.LinkButton {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#ffa600,#FFA500);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
}

.LinkButton:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.LinkButton:active {
  outline: 0;
}

.LinkButton:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .LinkButton {
    height: 48px;
  }
}